<div class='comment' data-section='{{userId}}'>
  <div class='comment-header'>
    <div class='comment-header__left'>
      <div class='comment-img'>
        <img class='comment-img_comment-image' src='{{photo}}' alt='' />
      </div>
      <div class='comment-details'>
        <h4 class='comment-name'>{{name}}</h4>
      </div>
      <div class='comment-header__left__comment-remove noactive'>
        <img class='image-cancel' src='/icons/cancel.png' />
      </div>
    </div>
  </div>
  <div class='comment-header__right'>
    <span
      class='review__header__review-data table__row__text'
    >{{rating}}/10</span>
  </div>
  <div class='comment-content'>
    <div class='comment-desc'>
      <p>{{text}}</p>
    </div>
  </div>
</div>