<div class='review'>
  <div class='review__header'>
    <img class='review__header__img' src='../../icons/avatar.png' />
      {{#if user}}
        <h1 class='review__header__film-name table__header' data-section="{{film_id}}">{{film_name}}</h1>
      {{/if}}
      {{#if film}}
          <h1 class='review__header__user-name table__header'>{{name}}</h1>
      {{/if}}
<!--    <span class='review__header__review-data table__row__text'>{{date}}</span>-->
      <span class='review__header__review-data table__row__text'>{{rating}}/10</span>
  </div>
  <div class='review__body'>
    <span class='review__body__text table__row__text'>{{text}}</span>
  </div>
</div>
