<div class='filmSelection'>
  <div class='filmSelection_name'>
    {{collection_name}}
  </div>
  <div class='filmSelection_films'>
    {{#if haveFilms}}
      {{#each films}}
        <div class='filmSelection_film' data-section='{{id}}'>
          <div
            class='filmSelection_film-poster'
            style='background-image: url("{{poster}}")'
          >
            <div class='filmSelection_film_header'>
              <img class='image-watchlist' src='/icons/bookmark.png' />
              <div class='film-rating'>
                {{#if rating}}
                  {{rating}}
                {{else}}
                  8
                {{/if}}
              </div>
            </div>
          </div>
          <div class='filmSelection_film-information'>
            <div class='filmSelection_film_name'>{{title}}</div>
          </div>
        </div>

      {{/each}}
    {{else}}
      <div><p>К сожалению, но таких фильмов нет.</p></div>
    {{/if}}
  </div>
</div>