<div class='film-selection'>
  <div class='film-selection_name'>
    {{collection_name}}
  </div>
  <div class='film-selection_films'>
    {{#if haveFilms}}
      {{#each films}}
        <div class='film-selection_film' data-section='{{id}}'>
          <img class='film-selection_film_poster' src='{{poster}}' />
          <p class='film-selection_film_name'>{{title}}</p>
          <div class='film-selection_film_rating'>
            <img class='film-selection_film_rating_img' src='/icons/star.svg' />
            <p class='film-selection_film_rating_p'>
              {{film.rating}}
            </p>
          </div>
          <div class='film-selection_film_select'>
            <img
              class='film-selection_film_select_img'
              src='../../icons/plus.svg'
            />
            <p class='film-selection_film_select_p'>
              К просмотру
            </p>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div><p>К сожалению, но таких фильмов нет.</p></div>
    {{/if}}
  </div>
</div>