<div class='filmSelection'>
  <div class='filmSelection_name'>
    {{collection_name}}
  </div>
  <div class='filmSelection_films'>
    {{#if haveFilms}}
      {{#each films}}
        <div class='filmSelection_film' data-section='{{film.id}}'>
          <img class='filmSelection_film_poster' src='{{poster}}' />
          <p class='filmSelection_film_name'>{{title}}</p>
          <div class='filmSelection_film_rating'>
            <img
              class='filmSelection_film_rating_img'
              src='../../icons/star.svg'
            />
            <p class='filmSelection_film_rating_p'>
              {{rating}}
            </p>
          </div>
          <div class='filmSelection_film_select'>
            <img
              class='filmSelection_film_select_img'
              src='../../icons/plus.svg'
            />
            <p class='filmSelection_film_select_p'>
              К просмотру
            </p>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div><p>К сожалению, но таких фильмов нет.</p></div>
    {{/if}}
  </div>
</div>