<div class='user-statistic'>
  <div class='statistic-chart__title'>Распределение по жанрам</div>
  <div class='user-statistic__body'>
    <div class='simple-bar-chart'>
      {{#each result}}
        <div class='item-user'>
          <div class='item-user__value'>{{avg}}</div>
          <div
            class='item-user-statistic'
            data-section='{{genre_id}}'
            style='--clr: {{color}}; --val: {{avg}}'
          ></div>
          <div class='item-user__label__div'>
            <div class='item-user__label'>{{genreName}} ({{count}})</div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>