<div class='film-page'>
  <div class='film-page__theme'>
    <div class='film-page__theme__content-block'>
      <div class='column'>
        <div class='film-name'>{{header}}</div>
        <div class='content-card'>

          <div class='param-list__left'>
            <div class='param-list__left__row1'>Дата рождения</div>
            <div class='param-list__left__row2'>Страна</div>
            <div class='param-list__left__row3'>Жанры</div>
          </div>
          <div class='param-list__right'>
            <div class='param-list__right__date'>{{date}}</div>
            <div class='param-list__right__country'>{{country}}</div>
            <section class='param-list__right__row-genre'>
              {{#each career}}
                {{profession}}
              {{/each}}</section>
          </div>
        </div>
      </div>
      <div class='player'>
        <div class='video-content'>
          <div class='video-content__watchlist'>
            {{#if alreadyFavorite}}
              <img class='image-cancel' src='/icons/cancel.webp' alt=""/>
            {{else}}
              <img
                class='image-watchlist orange-watchlist active'
                src='/icons/bookmark2.webp'
                alt=""
              >
              <img
                class='image-watchlist red-watchlist noactive'
                src='/icons/bookmark1.webp'
                alt=""
              />
            {{/if}}

          </div>
          <div
            class='video-content-image'
            style='background-image: url("{{poster}}")'
          > </div>
        </div>
      </div>
      <div class='film-info'>{{infoText}}</div>
    </div>
  </div>
</div>
