<header>
  <div class='header__search-mobile'>
    <div class='header__search-mobile__select'>
      <!--            <div class="header_search_item__select-search__text films-search-header">Фильмы</div>-->
      <img
        class='header_search_item__select-search__arrow icon'
        src='/icons/strelka-white.svg'
      />
      <div class='header__search-mobile__select__list'>
        <div class='header__search-mobile__select__films'>
          <img class='image-select' src='/icons/youtube.png' />
        </div>
        <div class='header__search-mobile__select__actors'>
          <img class='image-select' src='/icons/people.png' />
        </div>
      </div>
    </div>
    <div class='header__search-mobile__search-input'>
      <input class='header__search-mobile__input' placeholder='Фильмы' />
        <div class='header__search-mobile__input__all-search'>
            <img class='image-cancel' src='/icons/all-search-white.svg' />
        </div>
      <div class='header__search-mobile__input__cancel'>
        <img class='image-cancel' src='/icons/cancel2.svg' />
      </div>
    </div>

    <div class='header__search-mobile__search'>
      <img
        class='header_search_item__mobile-lope-search search-mobile-lope'
        src='/icons/loupe-white.png'
      />
    </div>
  </div>
  <div class='header'>
    <div
      class='header_brand-header header-button right-element'
      data-section='{{brand.key}}'
    >
      <img src='/icons/{{brand.png_name}}' class='brand_icon' />
    </div>

<!--    <div-->
<!--      class='header_menu-header header-button right-element'-->
<!--      data-section='{{selection.key}}'-->
<!--    >-->
<!--      <img src='/icons/{{selection.png_name}}' class='icon' />-->
<!--      <span>{{selection.name}}</span>-->
<!--    </div>-->
    <!--    <input-->
    <!--      class='header_search_item right-element'-->
    <!--      placeholder='Поиск фильмов'-->
    <!--    />-->
    <div class='header_search_item right-element'>
      <div class='header_search_item__select-search'>
        <div
          class='header_search_item__select-search__text films-search-header'
        >Фильмы</div>
        <div
          class='header_search_item__select-search__text actors-search-header'
        >Актёры</div>
        <img
          class='header_search_item__select-search__arrow-header'
          src='/icons/strelka.png'
        />
        <div class='header_search__list-search'>
          <div class='header_search__list-search__films'>
            <img class='image-select' src='/icons/youtube.png' />
            <div class='text-select'>Фильмы</div>
          </div>
          <div class='header_search__list-search__actors'>
            <img class='image-select' src='/icons/people.png' />
            <div class='text-select'>Актёры</div>
          </div>
        </div>
      </div>
      <input class='header_search_item__input' placeholder='Поиск' />
        <div class='header_search_item__all-search-container'>
            <img class='header_search_item__all-search' src='/icons/all-search.png' />
        </div>
      <div class='header_search_item__lope-container'>
        <img class='header_search_item__lope' src='/icons/loupe.png' />
      </div>

    </div>

    <div class='search-mobile header-button right-element'>
      <img
        class='header_search_item__mobile-lope icon'
        src='/icons/loupe-white.png'
      />
    </div>

    <div
      class='header_basket-item header-button right-element'
      data-section='{{basket.key}}'
    >
      <img src='/icons/{{basket.png_name}}' class='icon' />
      <span>{{basket.name}}</span>
    </div>

    {{#if isAuthorized}}
      <div>
        <nav class='navigationProfile' role='navigation'>
          <ul class='ulNavProfile'>
            <li class='liNavProfile'>
              <ul class='ul-header'>
                <div class='header_header-item header-button right-element'>
                  <img src='/icons/{{profile.png_name}}' class='icon' />
                  <span
                    class='header_header-item profile-text'
                  >{{profile.name}}</span>
                </div>
              </ul>
              <ul class='dropdown'>
                <li
                  class='header_settings-header'
                  data-section='{{profile.key}}'
                >Настройки</li>
                <li class='header_logout-header'>Выйти</li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    {{else}}
      <div
        class='header_login-header header-button right-element'
        data-section='{{signin.key}}'
      >
        <img src='/icons/{{signin.png_name}}' class='icon' alt='' />
        <span class='loginText'>{{signin.name}}</span>
      </div>
    {{/if}}
  </div>
</header>
