<div class="header">
    <div class="brandHeader" data-section="{{brand.key}}">
        <img src="../../icons/{{brand.png_name}}" class="brand_icon">
        <span>{{brand.name}}</span>
    </div>

    <div class="headerItem" data-section="{{selection.key}}">
        <img src="../../icons/{{selection.png_name}}" class="icon">
        <span>{{selection.name}}</span>
    </div>

    <input class="header_search_item" placeholder="Поиск фильмов">

    <div class="headerItem" data-section="{{basket.key}}">
        <img src="../../icons/{{basket.png_name}}" class="icon">
        <span>{{ basket.name }}</span>
    </div>

    {{#if isAuthorized}}
        <div class="headerItem"  data-section="{{profile.key}}">
            <img src="../../icons/{{profile.png_name}}" class="icon">
            <span>{{ profile.name }}</span>
        </div>
    {{else}}
        <div class="loginHeader" data-section="{{login.key}}">
            <img src="../../icons/{{login.png_name}}" class="icon" alt="">
            <span class="loginText">{{ login.name }}</span>
        </div>
    {{/if}}
</div>




