<header>
  <div class='header'>
    <div
      class='header_brand-header header-button margin-header'
      data-section='{{brand.key}}'
    >
      <img src='/icons/{{brand.png_name}}' class='brand_icon' />
    </div>

    <div
      class='header_menu-header header-button margin-header'
      data-section='{{selection.key}}'
    >
      <img src='/icons/{{selection.png_name}}' class='icon' />
      <span>{{selection.name}}</span>
    </div>
    <input class='header_search_item' placeholder='Поиск фильмов' />
    <div
      class='header_basket-item header-button margin-header'
      data-section='{{basket.key}}'
    >
      <img src='/icons/{{basket.png_name}}' class='icon' />
      <span>{{basket.name}}</span>
    </div>

    {{#if isAuthorized}}
      <div>
        <nav class='navigationProfile' role='navigation'>
          <ul class='ulNavProfile'>
            <li class='liNavProfile'>
              <ul>
                <div class='header_header-item header-button margin-header'>
                  <img src='/icons/{{profile.png_name}}' class='icon' />
                  <span
                    class='header_header-item profile-text'
                  >{{profile.name}}</span>
                </div>
              </ul>
              <ul class='dropdown'>
                <li
                  class='header_settings-header header-button'
                  data-section='{{profile.key}}'
                >Настройки</li>
                <li class='header_logout-header header-button'>Выйти</li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    {{else}}
      <div
        class='header_login-header header-button margin-header'
        data-section='{{signin.key}}'
      >
        <img src='/icons/{{signin.png_name}}' class='icon' alt='' />
        <span class='loginText'>{{signin.name}}</span>
      </div>
    {{/if}}
  </div>
</header>